<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CjClutter.ObjLoader" version="1.0.0" manuallyInstalled="true" />
  <package id="CsvHelper" version="30.0.1" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" manuallyInstalled="true" />
</packages>